doctype html
html
	head
		link(rel="shortcut icon", type="image/png", href="https://www.freefavicon.com/freefavicons/objects/guitar-silhouette-2-152-242168.png")
		title="Samuel's Year of Music"
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WSSWJH7');
		link(href='https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,500', rel='stylesheet')
		link(href='/css/index.css', rel='stylesheet')
	body
		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-WSSWJH7", height="0", width="0", style="display:none;visibility:hidden")
		div.left
			h1.name Samuel's
			img.logo(src="/img/Year-of-Music-Logo-Unit.png")
			center
				p A journey. Memories. History. Emotion. Escape. Life. Music is all that and much more. And good music is hard to find.
				p.second No matter where 2018 takes you, you will always have 1 new song to listen to everyday. You might love them or hate them, they may be old or new, but you will have listened to 365 different tracks by the end of the year.
				div.videoWrapper
		div.spacing
		div.right
			h2.list-head ICYMI
			ul.list
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src="/js/index.js")
